<div class="bio-container">
    <div class="my-photo-container">
        <img src="/assests/myPhoto.jpg" alt="Photo of Malaya Manjula">
    </div>
    <div class="text-container">
        <p>Hi, I’m Malaya Manjula, a skilled Full Stack Web Developer, 3D Graphic Designer, and Dynamic Poster Designer based in Jharsuguda, Odisha. I specialize in creating high-performance websites, immersive 3D visuals, and eye-catching promotional posters for businesses, startups, and individuals.</p> 
        <p>Whether you need a custom website, 3D product modeling, branding materials, or social media graphics, I deliver high-quality, fast, and scalable solutions tailored to your needs.</p>
        <p>Let’s build something remarkable together! <span>See some of my work <a href="https://www.instagram.com/monty3366/">here.</a></span></p>
    </div>
</div>
