<div class="contact-container">
    <table class="table">
        <tr>
            <td>
                <span> Call Me on </span>
            </td>
            <td><a  class="clickable" href="tel:+919777343366">+91 9777343366</a></td>
        </tr>
        <tr>
            <td>
                <span> WhatsApp Me on </span>
            </td>
            <td><a class="clickable" href="whatsapp://send?abid=+919777343366&text=Hi%2C%20Malaya!">+91 9777343366</a></td>
        </tr>
        <tr>
            <td>
                <span>Mail Me on </span>
            </td>
            <td><a  class="clickable" href="mailto:malaya.manjula@gmail.com">malaya.manjula@gmail.com</a></td>
        </tr>
    </table>
</div>