<div class="banner-container">
    <div class="effect-3d">
        <iframe src='https://my.spline.design/chips-330b71e65aa27cf080d5851e6df1f538/' frameborder='0' width="100%" height='100%' id="myAnimation"></iframe>
        <div width="100%" class="shadow"></div>
    </div>
    <div class="text">
        <span>Hello</span>
        <span>Visitor</span>
        <span class="sm">welcome to my portfolio</span>
    </div>
</div>

<div class="article">
    <div class="button-container">
        <span class="button outline">Services I am currently offering</span>
    </div>
    
    <div class="article-container">
        <div class="content-box outline">
            Web Development
        </div>
        <div class="content-box outline">
            Graphic Designing
        </div>
        <div class="content-box outline">
            3D Animation
        </div>
        <div class="content-box outline">
           Product Animation
        </div>
    </div>
</div>