
    <div class="image-container">
        <% data.fileList.forEach(file => { %>
            <div class="image-item">
                <img src="<%= file %>" alt="work" width="100%">
            </div>
        <% }); %>
    </div>
